In [ ]:
# Declaration of variables

In [4]:
name = ('Victor Gideon')

In [5]:
age = (20)

In [6]:
school = ('CoLab Innovation Institute')

In [7]:
favorite_subject = ('Data Science')

In [ ]:
# Printing a statement introducing myself using the above variables

In [46]:
print(f"My name is", (name),", I am", (age),"years old. I school in", (school), "and my favorite subject is", (favorite_subject),'.')

My name is Victor Gideon , I am 20 years old. I school in CoLab Innovation Institute and my favorite subject is Data Science .

In [ ]:
# a short motivational quote

In [9]:
quote = ("Every new day is a new opportunity to make it right")

In [10]:
# Manipulating quote using string methods

In [16]:
quote.replace('is', '')

'Every new day  a new opportunity to make it right'

In [14]:
best_friend_name = input("input the name of your best friend: ")

input the name of your best friend:  h

In [49]:
print('I wish you and', (best_friend_name), 'a happy and lasting friendship.')

I wish you and Dami a happy and lasting friendship.

In [51]:
print((name),'and',(best_friend_name),'were born in the early 2000. Although, both born in same month, they share different dates...')

Victor Gideon and Dami were born in the early 2000. Although, both born in same month, they share different dates...